body {
    border-left: 3vw solid #467CFA;
    border-right: 3vw solid #467CFA;
    position:relative;
    font-family: Helvetica, sans-serif !important;
    min-height:970px;
    background-color: rgb(255, 255, 255);
    height:110%;
}

.header h1 {
    text-align:left;
    padding:0;
}

.main-table tr {
    width:100%;
    border: 1px solid #c2c2c2;
    table-layout: fixed;
    overflow:hidden;
}

.order-table tr {
    border:none;
}

.order-table {
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}

.btn {
    color:black;
    transition-duration:0.2s;
}

.btn:hover{
    background-color: black;
    color:#F9F9F9;
}